<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.SiteName</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if(!String.IsNullOrEmpty(@ViewBag.InitialFile)) {
        <meta property="og:title" content="@ViewBag.SiteName">
        <meta property="twitter:title" content="@ViewBag.SiteName">
        <meta property="og:image" content="@ViewBag.InitialFile">
        <meta name="twitter:image" content="@ViewBag.InitialFile">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:description" content="@ViewBag.InitialFilename">
        <meta name="og:description" content="@ViewBag.InitialFilename">
    }

    <link href="//fonts.googleapis.com/css?family=Raleway:400,700|Oswald" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/site.css" type="text/css" asp-append-version="true">

    @if(!String.IsNullOrEmpty(Ictus.Data.Constants.AppSettingsConstant.External_GoogleAnalytics)) {
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '@(Ictus.Data.Constants.AppSettingsConstant.External_GoogleAnalytics)', 'auto');
            ga('send', 'pageview');
        </script>
    }
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <div id="sidebar-inner">
                <div id="sidebar-logo-container">
                    <div id="sidebar-logo">
                        @ViewBag.SiteName
                        <a href="#"><i id="hide-sidebar-button" class="fa fa-bars"></i></a>
                    </div>
                </div>
                <div id="sidebar-search-container">
                    <div id="sidebar-search">
                        <span>Select Tag:</span>
                        <select id="repository-selector">
                        </select>
                    </div>
                </div>
                <div id="sidebar-random-container">
                    <div id="sidebar-random">
                        <ul>
                            <li class="random-button-item" title="On your keyboard, press [d] or [Arrow Right]"><a id="random-button" href="#"><i class="fa fa-fw fa-random"></i> Random</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sidebar-nav-container">
                    <div id="sidebar-nav">
                        <div id="sidebar-nav-inner">
                            <ul>
                                <li class="backward-button-item disabled" title="On your keyboard, press [a] or [Arrow Left]"><a id="backward-button" href="#"><i class="fa fa-fw fa-backward"></i> Previous File</a></li>
                                <li class="hfm-button-item"><a id="hfm-button" href="#"><i class="fa fa-fw fa-mouse-pointer"></i> Auto-Click</a></li>
                                <li class="upload-button-item disabled"><a id="upload-button" href="#"><i class="fa fa-fw fa-upload"></i> Upload</a></li>
                                <li class="direct-button-item" title="On your keyboard, press [s] or [Arrow Down]"><a id="direct-button" href="#" download><i class="fa fa-fw fa-link"></i> Download</a></li>
                                <li class="comment-button-item"><a id="comment-button" href="#"><i class="fa fa-fw fa-comment"></i> Comments</a></li>
                                <!--<li class="tags-button-item disabled"><a id="tags-button" href="#"><i class="fa fa-fw fa-hashtag"></i> Tags</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="sidebar-footer-container">
                    <div id="sidebar-footer">
                        <ul>
                            @if(ViewBag.IsYiffco) {
                                <li><a href="#" id="apps-button"><i class="fa fa-fw fa-rocket"></i> Apps &amp; Bots</a></li>
                            }
                            <li><a href="#" id="about-button"><i class="fa fa-fw fa-info-circle"></i> About / Contact</a></li>
                            <li><i class="fa fa-fw fa-flash"></i> <strong>@ViewBag.SiteName</strong> @ViewBag.Version</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-mini">
            <div id="sidebar-mini-inner">
                <span id="sidebar-logo-mini"><i class="fa fa-fw @ViewBag.SiteIcon"></i>@ViewBag.SiteName</span>
                <a href="#" id="random-mini-button"><i class="fa fa-fw fa-random"></i>Random</a>
                <a href="#" id="show-sidebar-button"><i class="fa fa-fw fa-bars"></i>Menu</a>
            </div>
        </div>
        <div id="view" class="full">
        </div>
    </div>

    <div id="panel-overlay">
        @Html.Partial("_AboutPanelPartial")
        @if(ViewBag.IsYiffco) {
            @Html.Partial("_AppsPanelPartial")
        }
        @Html.Partial("_CommentPanelPartial")
        @Html.Partial("_ErrorPanelPartial")
        @Html.Partial("_HfmPanelPartial")
        @Html.Partial("_UploadPanelPartial")
        @Html.Partial("_WelcomePanelPartial")
    </div>

    <img id="image-preload" style="width: 0; height: 0;" />

    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
</body>
</html>